* {
    background-color: rgb(51, 49, 49);
    margin: 0;
    padding: 0;
}

.header{
    margin-top: 10px;
    padding-left: 20px;
}

p {
    color: white;
    display: inline-flex;
    margin-left: 20px;
    font-size: 20px;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    left:3px;
}

.header ul {
    display: inline-flex;
    list-style: none;
}

.header ul li {
    width: 70px;
    margin: 10px;
    color: white;
}

.header ul li a {
    text-decoration: none;
    color: white;
    align-items: center;
}

/* .header ul li a:first-child{
    padding-left: 20px;
} */

.header ul li a:hover {
    color: rgb(34, 95, 151);
}

.header i{
    color: white;
}
