*{
    background-color: rgb(41, 39, 39);
    margin: 0;
    padding:0;
}


.brand  {
    text-decoration: none;
    color: rgb(25, 116, 96);
    font-size: 30px;
    margin-left:20px;
}

.brand img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#navbarContent ul li a{
color: white;
margin-left: 30px;
}

#navbarContent ul li a:hover{
color: rgb(25, 116, 96);
}

#navbarContent ul li a i {
    color: #3c995b;
    margin-left:7px;
    
}

.bodyContent {
    color:white;

}

.villa {
    width:600px;
    height: 300px;
    border-radius: 20px;
    float: right;
    margin-bottom:20px;
    margin-right: 20px;
}

/* .input-field{
    position: relative;
} */

.input-field i {
    color:#5aa066;
    /* position: absolute; */
    
}