*{
    background-color: rgb(41, 39, 39);
    margin: 0;
    padding:0;
}

.brand  {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#navbarContent ul li a{
color: white;
margin-left: 30px;
}

#navbarContent ul li a:hover{
color: rgb(25, 116, 96);
}

#navbarContent ul li a i {
    color: ;
}